html,
body {
  margin: 0;
  height: 100%;
  min-width: 400px;
  overflow: auto;
  color: #4a494ed5;
  font-family: "Nunito Sans";
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to bottom left,
    #878abe 40%,
    #d1c1cd,
    #e6dade
  );
}
